[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-bootstrap4 = "*"
psycopg2 = "*"
pillow = "*"
python-decouple = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
