{% extends 'base.html' %}
{% block content %}
<div class="container">

  

  <div class="row">

 
    {% for photo in searched_category %}
      <div class="col-sm-6 col-md-3">
          <h3>{{photo.title}}</h3>
           <img src="{{ photo.photo_image.url }}" alt="Image" class="img-fluid">
        <p><a href="{{ photo.photo_url}}"> View more</a></p> 
         <p> Description: {{photo.description}}</p>

        <span class="tm-text-gray-light"> Posted:{{ photo.date_posted }}</span>
       

      </div>
    {% endfor %}
  
  </div>
</div>
 {% endblock %}